.story-block {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 6em;
}

.story-heading {
  margin-bottom: 1.25em;
}

.story-subtext {
  font-size: 20px;
}

.fact {
  display: flex;
  margin-bottom: 1.5em;
}

.fact-icon {
  font-size: 2em !important;
  padding-top: 0.2em;
}

.fact-text {
  font-size: 20px;
  padding-left: 0.8em;
}

/* Block Specific Graphics */

.earth-bad {
  padding: 0 0 3em 3em !important;
  max-width: 400px !important;
}

.ice-sea-container {
  text-align: center;
}

.ice-sea-container .button {
  margin-bottom: 2em !important;
}

.temp-carbon-container {
  text-align: center;
}

.temp-carbon-container .button {
  margin-bottom: 2em !important;
}

.budget-container {
  text-align: center;
}

.paris-container {
  text-align: center;
}