
.footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .segment {
  height: 100%;
  background-color: #27272a !important;
}

.footer .menu {
  padding-top: 1em;
}

#grawnola {
  font-weight: 900;
  padding-left: 0;
}

#footer-text {
  padding-top: 0.5em;
}